<%= form_with(model: tenant, local: true) do |form| %>
  <% if tenant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenant.errors.count, "error") %> prohibited this tenant from being saved:</h2>

      <ul>
      <% tenant.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :氏名 %>
    <%= form.text_field :name, id: :tenant_name %>
  </div>

  <div class="field">
    <%= form.label :メールアドレス %>
    <%= form.text_field :email, id: :tenant_email %>
  </div>

  <div class="field">
    <%= form.label :電話番号 %>
    <%= form.text_field :phone_number, id: :tenant_phone_number %>
  </div>

  <div class="field">
     <%= form.label :パスワード %>
     <%= form.password_field :password, id: :tenant_password %>
  </div>

  <div class="field">
    <%= form.label :確認用パスワード %>
    <%= form.password_field :password_confirmation, id: :tenant_password_confirmation %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
