<p id="notice"><%= notice %></p>

<h1>Accidents</h1>


<div class="container">
  <div class="row">
    <div class="col-md-offset-2 home-container">
      <table>
        <thead>
          <tr>
            <th>Case</th>
            <th>Time</th>
            <th>Address</th>
            <th>Content</th>
            <th>Repair request schedule</th>
            <th colspan="2"></th>
          </tr>
        </thead>

        <tbody>
          <% @accidents.each do |accident| %>
            <tr>
              <td><%= accident.case %></td>
              <td><%= accident.time %></td>
              <td><%= accident.address %></td>
              <td><%= accident.content %></td>
              <td><%= accident.repair_request_schedule %></td>
              <td><%= link_to 'Show', accident, class: "btn btn-primary" %></td>
              <td><%= link_to 'Edit', edit_accident_path(accident), class: "btn btn-primary" %></td>
              <td><%= link_to 'Destroy', accident, class: "btn btn-primary", method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= link_to 'New Accident', new_accident_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>
