<%= form_with(model: repair, local: true) do |form| %>
  <% if repair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(repair.errors.count, "error") %> prohibited this repair from being saved:</h2>

      <ul>
      <% repair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :見積もり番号 %>
    <%= form.number_field :estimate, id: :repair_estimate %>
  </div>

  <div class="field">
    <%= form.label :項目 %>
    <%= form.collection_select :case, Repair::CATEGORY.to_a, :first, :last, { prompt: Repair.human_attribute_name(:case) }, { class: "form-control", rows: 2 } %>
  </div>

  <div class="field">
    <%= form.label :修理時間 %>
    <%= form.datetime_select :time, id: :repair_time %>
  </div>

  <div class="field">
    <%= form.label :修理の詳細 %>
    <%= form.text_area :content, id: :repair_content %>
  </div>

  <div class="field">
    <%= form.label :"修理完了 1 or 0" %>
    <%= form.text_field :complete, id: :repair_complete %>
  </div>

  <div class="field">
    <%= form.label :修繕状況 %>
    <%= form.collection_select :status, Repair::STATUS.to_a, :first, :last, { prompt: Repair.human_attribute_name(:status) }, { class: "form-control", rows: 2 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
