<div class="t-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white">Log in</h1>
        <%= form_for :tenant, url: log_in_path do |f| %>
          <div class="form-group">
            <%= f.label :email, class: "text-white" %>
            <%= f.text_field :email, class: "form-control" %>

            <%= f.label :password_digest, class: "text-white" %>
            <%= f.password_field :password_digest, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :remember_me, class: "checkbox inline" do %>
            <%= f.check_box :remember_me %>
            <span>パスワードを保存させる</span>
            <% end %>
          </div>

          <%= f.submit "ログイン", class: "btn-block btn-white" %>

        <% end %>
      </div>
    </div>
  </div>
</div>
